.Footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    
    @media screen and (max-width: 480px) {
        p {
            text-align: center;
            width: 30%;
        }
    }

}

.Footer img {
    width: 150px;
}