main {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media screen and (max-width: 480px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}